/lab1/*.exe
/lab2/*.exe
/lab1/*.o
/lab2/*.o
/lab2/*.txt
/lab2/*.jpg
/lab2/*.exe
/lab3/*.o
/lab3/*.txt
/lab3/*.exe
/lab3/*.jpg
/lab4/*.o
/lab4/*.txt
/lab4/*.exe
/lab4/*.jpg
/lab5/*.o
/lab5/*.txt
/lab5/*.exe
/lab5/*.jpg
/rgr/*.o
/rgr/*.txt
/rgr/*.exe
/rgr/*.jpg
.vscode